$RTSOrange: #FC6502;
$RTSBlue: #2795DE;
$RTSPurple: #903EF2;

@mixin bgGradient($colorOne, $colorTwo) {
  background: $colorOne;
  background: -moz-linear-gradient(top, $colorOne, $colorTwo);
  background: -webkit-gradient(linear, left top, left bottom, color-stop($colorOne), color-stop($colorTwo));
  background: -webkit-linear-gradient(top, $colorOne, $colorTwo);
  background: -o-linear-gradient(top, $colorOne, $colorTwo);
  background: -ms-linear-gradient(top, $colorOne, $colorTwo);
  background: linear-gradient(to bottom, $colorOne, $colorTwo);
}

body {
    max-width: 1280px;
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;

    .col-sm-12 { padding: 0; }
    h2 {
        font-weight: 900;
        margin-top: 0;

        span.RTSOrange { color: $RTSOrange; }
        span.RTSBlue { color: $RTSBlue; }
    }
    div#logoHeader {
        img { 
            margin-left: auto;
            margin-right: auto;
        }
    }
    div#nav {
        height: 40px;
        margin-bottom: 20px;
        @include bgGradient($RTSBlue, $RTSPurple);

        ul {
            list-style: none;
            padding: 0;

            li {
                float: left;
                margin-top: 3px;
                margin-left: 20px;
                margin-right: 20px;
                font-size: 24px;

                a { color: #fff; }
            }
        }
    }
    div#postsList {
        clear: both;
        padding-left: 0;
        padding-right: 15px;

        div.post {
            clear: both;
            display: inline-block;
            border: 1px #ccc solid;
            padding: 20px;

            div.image {
                max-height: 386.66px;
                overflow: hidden;
                margin-top: 10px;

                img {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            div.postContent {
                div.message {
                    font-weight: 900;
                }
            }
        }
    }
    div#rightInfo {
        padding-right: 0;
        padding-left: 15px;
    }

    div#menu {
        overflow: hidden;

        img:first-child {
            margin-top: -480px;
        }
    }
    div.hours {
        margin-top: 10px;
        padding-left: 0;
        padding-right: 15px;
    }
    div.story {
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 0;
    }

    div.review {
        clear: both;
        display: inline-block;
        border: 1px #ccc solid;
        padding: 20px;
        width: 100%;

        div.stars1 {
            &:after {
                content: "\f005";
                font-family: FontAwesome;
                font-size: 20px;
                color: $RTSBlue;
            }
        }
        div.stars2 {
            &:after {
                content: "\f005 \f005";
                font-family: FontAwesome;
                font-size: 20px;
                color: $RTSBlue;
            }
        }
        div.stars3 {
            &:after {
                content: "\f005 \f005 \f005";
                font-family: FontAwesome;
                font-size: 20px;
                color: $RTSBlue;
            }
        }
        div.stars4 {
            &:after {
                content: "\f005 \f005 \f005 \f005";
                font-family: FontAwesome;
                font-size: 20px;
                color: $RTSBlue;
            }
        }
        div.stars5 {
            &:after {
                content: "\f005 \f005 \f005 \f005 \f005";
                font-family: FontAwesome;
                font-size: 20px;
                color: $RTSBlue;
            }
        }
        div.reviewText {
            font-weight: 900;
        }
    }
}