<div id="logoHeader" class="col-sm-12">
    <img class="img-responsive" src="../../images/rockyTopSnowballs.png">
</div>
<div id="nav" class="col-sm-12">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>