<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>

    <div id="about" class="col-sm-12">
        <h2 class="col-sm-12"><span class="RTSOrange">Rocky Top</span> <span class="RTSBlue">Snowball's Location</span></h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d404.7247591160783!2d-83.94664151874372!3d35.75576760771537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2268503a06bcb192!2sRocky+Top+Snoballs!5e0!3m2!1sen!2sus!4v1496256013283" width="1280" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="hours col-md-6 col-sm-12">
            <h2 class="col-sm-12"><span class="RTSOrange">Rocky Top</span> <span class="RTSBlue">Snowball's Hours</span></h2>
            <div class="col-sm-12">12:00PM - 9:00PM Everyday</div>
        </div>
        <div class="story col-md-6 col-sm-12">
            <h2 class="col-sm-12"><span class="RTSOrange">Rocky Top</span> <span class="RTSBlue">Snowball's Story</span></h2>
            <div class="col-sm-12">
                Cool off and enjoy sweet snoball treats from Rocky Top Snoballs! Located in the parking lot of Rolands Bistro, we will be serving up freshly made "snoballs"daily with a variety of flavors to choose from, including sugar free options! 
    Rocky Top Snoballs, where it snows all year!
            </div>
        </div>
    </div>
</body>
</html>