<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/header %>

    <div id="menu" class="col-sm-12">
        <img class="img-responsive" src="../../images/rtsMenu1.jpg">
        <img class="img-responsive" src="../../images/rtsMenu2.jpg">
    </div>
</body>
</html>